In [19]:
import pandas as pd

In [20]:
data = {
    "Zahra": [1,2,3],
    "Lily": [4,5,6],
    "Dito": [7,8,9],
    "Naufal": [10,11,12],
}

df = pd.DataFrame(data)

In [21]:
print("Display all data:")
print(df)

Display all data:
   Zahra  Lily  Dito  Naufal
0      1     4     7      10
1      2     5     8      11
2      3     6     9      12

In [22]:
print("display value from row #1 and specified column:")
print("D class - Lily\t\t:", df.at[1, 'Lily'])
print("E class - Naufal\t:", df.at[1, 'Naufal'])
print("F class - Zahra\t\t:", df.at[1, 'Zahra'])

display value from row #1 and specified column:
D class - Lily		: 5
E class - Naufal	: 11
F class - Zahra		: 2

In [23]:
df['Janet'] = df['Zahra'] + df['Dito']
print(df)

   Zahra  Lily  Dito  Naufal  Janet
0      1     4     7      10      8
1      2     5     8      11     10
2      3     6     9      12     12