In [1]:
import pandas as pd

In [3]:
data = {
    "Zahra": [1,2,3],
    "Lily": [11,22,33],
    "Dito": [21,32,43],
    "Naufal": [31,42,53],
}

df = pd.DataFrame(data)
print(df)

   Zahra  Lily  Dito  Naufal
0      1    11    21      31
1      2    22    32      42
2      3    33    43      53